.contato-section {
    padding: 100px 0;
    background: #f8f9fa;
}

/* BOX ESQUERDA */
.contact-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.contact-item {
    display: block;
    margin-top: 15px;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    color: #212529;
    transition: 0.3s;
}

.contact-item:hover {
    background: #6f42c1;
    color: white;
    transform: translateX(5px);
}

/* FORM */
.contact-form {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    border-radius: 10px;
}

/* TÍTULO */
.subtitle {
    opacity: 0.7;
}

.btn.btn-form{
    background-color: #64009d;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}

.btn.btn-form:hover{
    background-color: #6f42c1;
}